@charset "UTF-8";
@import "./iconfont/style.css";
@import "./reset.css";
@import "./util.css";
@import "./theme/theme-chalk/lib/index.css";
@import "./theme/kaola.css";

html, body {
  width: 100%;
  height: 100%;
  font-size: 12px;
  color: #333;
  font-family: 'PingFangTC-Regular', 'Microsoft YaHei', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 全局使用样式,使用g命名空间开头 */
@component-namespace g {
  /* 搜索区域 */
  @b queryForm {
    .el-form-item {
      margin-bottom: 20px;
    }

    .el-form-item__content {
      display: flex;
      align-items: center;
      min-height: 36px;

      & div:first-child {
        flex: 1;
      }
    }
  }
}

.u-line { height:1px; margin-bottom:10px; background:#DEEAF2; }
