/*覆盖 级联选择器样式*/
@include b(cascader-menu) {
    @include e(item) {
        &:focus:not(:active),
        &:hover {
            background-color: #e6f9f9;
        }
        &.is-active {
            color: #606266;
            background-color: #e6f9f9;
        }
    }
}
@include b(cascader) {
    font-size: 12px;
    line-height: 32px;
    @include m(miniW) {
        width: 80px;
    }
    @include m(smallW) {
        width: 160px;
    }
    @include m(mediumW) {
        width: 300px;
    }
}
