/*样式覆盖*/
@include b(select-dropdown) {
    @include e(item) {
        &.selected {
            font-weight: 700;
            color: #606266;
            background-color: #e6f9f9;
        }
        /*下啦hover的背景色修改*/
        &.hover,
        &:hover {
            background-color: #e6f9f9;
        }
    }
    /*下拉选中时的字体颜色修改*/
    &.is-multiple .el-select-dropdown__item.selected,
    &.is-multiple .el-select-dropdown__item.selected.hover {
        color: #606266;
        background-color: #e6f9f9;
    }
}

@include b(select) {
    width: 100%;
    .el-tag--info {
        color: #909399;
    }
    @include m(miniW) {
        width: 80px;
    }
    @include m(smallW) {
        width: 160px;
    }
    @include m(mediumW) {
        width: 300px;
    }
}
