@include b(step) {
    @include e(title) {
        font-size: 14px;
        &.is-finish,
        &.is-success,
        &.is-process {
            color: #00C4C0;
            font-weight: normal;
        }
    }

    @include e(head) {
        &.is-finish,
        &.is-success,
        &.is-process {
            color: #00C4C0;
            border-color: #00C4C0;
        }
    }

    &.is-horizontal .el-step__line {
        top: 14px;
        height: 4px;
    }
    &.is-vertical .el-step__line {
        left: 14px;
        width: 4px;
    } 
    @include e(icon) {
        width: 32px;
        height: 32px;
        font-size: 16px;
    }

    @include e(line-inner) {
        border-width: 2px !important;
    }

    @include e(description) {
        @include when(wait) {
            color: #999999;
        }
        @include when(process) {
            color: #999999;
        }
        @include when(success) {
            color: #999999;
        }
        @include when(error) {
            color: #999999;
        }
        @include when(finish) {
            color: #999999;
        }
    }
    @include e(title) {
        @include when(process) {
            color: #000000;
        }
        @include when(wait) {
            color: #000000;
        }
        @include when(success) {
            color: #000000;
        }
        @include when(error) {
            color: #000000;
        }
        @include when(finish) {
            color: #000000;
        }
    }
}
.is-finish .el-step__icon,
.is-success .el-step__icon {
    background: #00c4c0;
    color: #fff;
}
